{
  "extends": "availity/browser",
  "rules": {
    "semi": [2, "always"],
    "no-unused-vars": ["error", {
      "varsIgnorePattern": "^(unused|omit)"
    }],
    "comma-dangle": [2, "always-multiline", {
      "functions": "never"
    }],
    "no-unused-expressions": ["error", {
      "allowShortCircuit": true
    }],
    "camelcase": ["warn", {
      "properties": "never"
    }],
    "react/no-unused-state": "warn"
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
