{
  "extends": "eslint-config-availity/react",
  "rules": {
    "semi": [2, "always"],
    "no-unused-vars": ["error", {
      "varsIgnorePattern": "^(unused|omit)"
    }],
    "comma-dangle": [2, "always-multiline"]
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
