{
  "env": {
    "mocha": true,
    "node": true
  },
  "globals": {
    "sinon": true,
    "expect": true,
    "shallow": true,
    "mount": true
  },
  "rules": {
    "func-names": 0,
    "no-unused-expressions": 0
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.test.config.js"
      }
    }
  }
}
